/*
Gris : #dadada
Noir : #282828
Orange : #ff4800
*/

#copyright 
{
	position: relative;
	width: 100%;
	color: #220e10;
}

#copyright p 
{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

body
{
    background-color: #dadada;
}

#main-menu > ul
{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto
}

.top-bar, .top-bar ul
{
    background-color: #282828;
}

a
{
    color: #ff4800;
}

.pagination .current
{
    background: #ff4800;
}

.thumbnail
{
    border-color: #282828;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

.div_login {
	padding-top: 10px;
}