/*
Gris : #dadada
Noir : #282828
Orange : #ff4800
*/

#copyright 
{
	position: relative;
	width: 100%;
	color: #220e10;
}

#copyright p 
{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

#liste-series
{
    padding-top: 40px;
}

#liste-series-du-moment div > p
{
    background-color: #282828;
    height: 50px;
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: 15px;
}

#liste-series-les-plus-attendue div div > img
{
    width: 100px;
}

#liste-series div > div
{
    margin-bottom: 25px;
}

body
{
    background-color: #dadada;
}

#main-menu > ul
{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto
}

.top-bar, .top-bar ul
{
    background-color: #282828;
}

a
{
    color: #ff4800;
}

.pagination .current
{
    background: #ff4800;
}

.thumbnail
{
    border-color: #282828;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}

.div_login {
	padding-top: 10px;
}

.social {
  margin-right: .25rem;
}

.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.social.google-plus:hover, .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.social > .fa {
  color: #fefefe;
  margin-right: .25rem;
}

.center {
    margin: auto;
    width: 50%;
}

div.ma-liste{
    padding:15px;
}
 
.ma-liste > ul {
  overflow: auto;
  list-style-type: none;
}
 
.ma-liste > ul > li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
.ma-liste > ul > li:last-child {
  border-right: none;
}
 
.ma-liste  > ul > li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.ma-liste  > ul > li a:hover {
  color: #666;
}
 
.ma-liste > ul > li.active a {
  font-weight: bold;
  color: #333;
}